nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') Poller
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a(href='/')
						| Home 
						span.sr-only (current)
				li
					a(href='/newpoll') New Poll
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						| Categories 
						span.caret
					ul.dropdown-menu
						li
							a(href='/?category=General') General
						li
							a(href='/?category=Gaming') Gaming
						li
							a(href='/?category=Personal') Personal
						li
							a(href='/?category=Politics') Politics
						li.divider(role='separator')
						li
							a(href='/?category=Suggestions') Suggestions
			form.navbar-form.navbar-left
				.form-group
					input.form-control(type='text', placeholder='Search by POLL-ID#')
				button.btn.btn-default(type='submit') Submit
			- if (!loggedIn) {
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						| Login
						span.carot
					ul.dropdown-menu
						li
							a(href='/login') Login
						li
							a(href='#') Forgot User
						li
							a(href='#') Forgot Pass
			- } else {
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						| #{loggedInAs}
						span.carot
					ul.dropdown-menu
						li
							a(href='/logout') Logout
						li
							p hi
			-}

.alert.alert-warning(role='alert')
	p This site is a WIP. Logins are disabled and multiple voting is enabled for testing!