*
  box-sizing: border-box

.grid
  margin-top: 30px
  background: rgba(0,0,0,0)
  max-width: 1200px
  &:after
    content: ''
    display: block
    clear: both

.grid-sizer
  width: 20%

.grid-item
  width: 19.5%
  height: 100px
  float: left
  background: #33b5e5
  border: 3px solid black
  border-color: hsla(0, 0%, 0%, 0.5)
  border-radius: 8px
  margin: .25%
  text-align: center
  transition: all ease-in-out 300ms
  &:hover
    background: #90CAF9
    border-color: hsla(0, 0%, 0%, 0.75)
    cursor: pointer
  a
    color: black
    transition: all ease-in-out 300ms
    &:hover
      color: white
  p
    font-size: 12px
    
.grid-item--width2
  width: 39.5%
  height: 155px
  
.grid-item--gigante
  width: 39.5%
  height: 280px  

.grid-item--top
  width: 39.5%
  height: 280px

.grid-item--width3
  width: 49.5%

.grid-item--height2
  height: 310px

.grid-item--height3
  height: 420px

.grid-item--height4
  height: 420px
  
.cate_Politics
  p
    color: rgba(0,98,0,.7)
  background: rgba(177,255,177,.5)
  &:hover
    background: rgba(177,255,177,1)
    p
      color: rgba(0,98,0,.5)
  a
    color: rgba(0,98,0,.9)
    transition: all ease-in-out 300ms
    &:hover
      text-decoration: none
      color: rgba(0,98,0,1)

.cate_Gaming
  p
    color: rgba(0,73,85,.7)
  background: rgba(183,245,255,.5)
  &:hover
    background: rgba(183,245,255,1)
    p
      color: rgba(0,73,85,.5)
  a
    color: rgba(0,73,85,.9)
    transition: all ease-in-out 300ms
    &:hover
      text-decoration: none
      color: rgba(0,73,85,1)

.cate_Personal
  p
    color: rgba(144,92,0,.7)
  background: rgba(255,229,183,.5)
  &:hover
    background: rgba(255,229,183,1)
    p
      color: rgba(144,92,0,.5)
  a
    color: rgba(144,92,0,.9)
    transition: all ease-in-out 300ms
    &:hover
      text-decoration: none
      color: rgba(144,92,0,1)
      
.cate_General
  p
    color: rgba(119,0,0,.7)
  background: rgba(255,178,178,.5)
  &:hover
    background: rgba(255,178,178,1)
    p
      color: rgba(119,0,0,.5)
  a
    color: rgba(119,0,0,.9)
    transition: all ease-in-out 300ms
    &:hover
      text-decoration: none
      color: rgba(119,0,0,1)

.cate_Suggestions
  p
    color: rgba(61,31,123,.7)
  background: rgba(206,190,239,.5)
  &:hover
    background: rgba(206,190,239,1)
    p
      color: rgba(61,31,123,.5)
  a
    color: rgba(61,31,123,.9)
    transition: all ease-in-out 300ms
    &:hover
      text-decoration: none
      color: rgba(61,31,123,1)

.cate_Sponsored
  p
    color: rgba(81,61,12,.7)
  p.sponwarn
    color: rgba(227,180,62,0)!important
  background: rgba(227,180,62,.5)
  &:hover
    background: rgba(227,180,62,1)
    p
      color: rgba(81,61,12,.5)
    p.sponwarn
      color: rgba(81,61,12,1)!important
  a
    color: rgba(81,61,12,.9)
    transition: all ease-in-out 300ms
    &:hover
      text-decoration: none
      color: rgba(81,61,12,1)