@import poll
@import grid

$font-stack:    Helvetica, sans-serif
$primary-color: #333

body
    font: 100% $font-stack
    color: $primary-color

.alert
    width: 80%
    margin-left: 10%
    margin-top: 2px
    margin-bottom: 2px
    
.centeralign
    text-align: center
    
.jumbotron
    margin: 1% 12% 10px 12%
    padding-bottom: 20px
    padding-top: 15px
    
.navbar
    min-height: 20px
    
#indexprogress
    margin: 20px 25% 0px 25%

.message
    border: 1px solid #ccc
    padding: 10px
    color: $primary-color

.success
    @extend .message
    border-color: green

.error
    @extend .message
    border-color: red
    font-weight: bold

.warning
    @extend .message
    border-color: yellow
