//DATA PASSED THROUGH:
//recents[ {id, question, count}, ... ]

doctype html
html(lang="en")
    head
        include universal/head
        include universal/script
        
    body
        include universal/nav
        
        - if(!loggedIn) {
        div.container
            .jumbotron
                center
                    h1 Welcome to Poller!
                    p Get started with your first poll...
                    p
                        a.btn.btn-primary.btn-lg(href='/newpoll', role='button') Lets go!
                    div.progress#indexprogress
                        .progress-bar.progress-bar-striped.progress-bar-info.active(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width:100%')
        - }
        - var max = Math.max.apply(Math,recents.map(function(o){return o.count;}))
        center
            .grid
                .grid-sizer
                - for (var i = 0; i < recents.length; i++) {
                    - if (recents[i].count == max) {
                    .grid-item.grid-item--top
                        a(href="/poll/"+ recents[i].id ) #{recents[i].question}
                    - } else if (recents[i].count >= max/2) {
                        - if(recents[i].count % 2 == 1) {
                        .grid-item.grid-item--height2
                            a(href="/poll/"+ recents[i].id ) #{recents[i].question}
                        - } else {
                        .grid-item.grid-item--width2
                            a(href="/poll/"+ recents[i].id ) #{recents[i].question}
                        - }
                    - } else {
                    .grid-item
                        a(href="/poll/"+ recents[i].id ) #{recents[i].question}
                    - }
                - }
                
        script.
            var $grid = $('.grid').masonry({
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                percentPosition: true,
                originLeft: false
            });
            $grid.on( 'click', '.grid-item', function() {
                $( this ).toggleClass('grid-item--gigante');
                $grid.masonry();
            });