doctype html
html(lang="en")
    head
        include universal/head
    body
        include universal/nav
        center
            i.top-space.fa.fa-5x.fa-chain-broken(aria-hidden='true')
            h1.text-center.top-space <strong>Bro</strong>.....That's not a real URL...
            h2.text-center Go vote on <i>real</i> polls.
            h4(style="margin-top: 500px").text-center How did you even get here?
            h5.text-center Nevermind
            h6.text-center ...Just leave...
            img(src="http://m.memegen.com/kjtvp5.jpg" style="opacity: 0.5").img-responsive