center
    .grid
        .grid-sizer
        .grid-item a(href="/poll/"+ recents[1].id ) #{recents[1].question}
        .grid-item.grid-item--width2.grid-item--height2
        .grid-item.grid-item--height3
        .grid-item.grid-item--height2
        .grid-item.grid-item--width3
        .grid-item
        .grid-item
        .grid-item.grid-item--height2
        .grid-item.grid-item--width2.grid-item--height3
        .grid-item
        .grid-item.grid-item--height2
        .grid-item
        .grid-item.grid-item--width2.grid-item--height2
        .grid-item.grid-item--width2
        .grid-item
        .grid-item.grid-item--height2
        .grid-item
        .grid-item
        .grid-item.grid-item--height3
        .grid-item.grid-item--height2
        .grid-item
        .grid-item
        .grid-item.grid-item--height2